//==== SEARCH BAR ====/
.searchbar {
  overflow: hidden;
  position: relative;
  height: 40px;
  max-width: 400px;
  width: 40%;

  input {
    border: 1px solid #c3c6c3;
    // border: 1px solid #213f7d;
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 20px;
    padding-right: 44px;
    height: 100%;
    color: #7e7e7e;
    width: 100%;
    background-color: #fff;
  }
  .searchbar-btn {
    background-color: var(--primary-green);
    border: 1px solid var(--primary-green);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;

    svg {
      height: 18px;
      width: 18px;
      color: white;
    }
  }
}
//==== END OF SEARCH BAR ====/

//==== TABLE COMPONENT ====/
.custom-table {
  padding: 20px 30px;
  border: 1px solid #213f7d0f;
  box-shadow: 3px 5px 20px 0px #0000000a;
  border-radius: 4px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(
      left,
      #ffffff,
      rgba(255, 255, 255, 0)
    ),
    -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)),
    -webkit-linear-gradient(left, #c3c3c573, rgba(195, 195, 197, 0)),
    -webkit-linear-gradient(right, #c3c3c573, rgba(195, 195, 197, 0));
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
  background-attachment: local, local, scroll, scroll;

  .table-spinner {
    padding: 40px;
    text-align: center;
  }

  table {
    width: 100%;

    * {
      font-family: "Work Sans", sans-serif;
    }
    tr {
      position: relative;
      &:last-of-type {
        td {
          border-bottom: none;
        }
      }
      th {
        padding-inline: 0.5rem;
        border-bottom: none;
        padding-top: 0;
        &:first-child {
          padding-left: 0;
        }
        // &:last-child {
        //   padding-right: 0;
        // }
        .table-header-btn {
          font-size: 0.75rem;
          font-weight: 600;
          color: var(--primary-text);
          text-transform: uppercase;
          border: none;
          background-color: transparent;
          height: auto;
          display: flex;
          align-items: center;
          gap: 10px;

          .table-header-text {
            font-size: 0.75rem;
            font-weight: 600;
            color: var(--primary-text);
          }
          svg {
            height: 13px;
            width: 13px;
          }
        }
      }
      td {
        font-size: 0.88rem;
        padding-inline: 0.5rem;
        color: var(--primary-text);
        border-bottom: 1px solid #213f7d1a;
        position: static;

        .row-link {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-inline: 1.5rem;
          // position: sticky;
          // right: -31px;
          // background: white;
        }
      }
      .table-empty-data {
        text-align: center;
      }
    }
    .chakra-popover__content {
      max-width: 270px;
      box-shadow: 3px 5px 20px 0px #0000000a !important;
      border: 1px solid #545f7d24 !important;

      .table-filter-popover {
        padding: 30px 20px;
        form {
          .table-filter-item {
            margin-bottom: 20px;
            label {
              color: var(--primary-text);
              font-weight: 500;
              font-size: 0.88rem;
              display: block;
              margin-bottom: 6px;
              text-transform: capitalize;
            }
            input,
            select {
              height: 40px;
              width: 100%;
              border: 1px solid #213f7d33;
              border-radius: 8px;
              padding: 12px;
            }
          }
          .table-filter-btns {
            display: grid;
            align-items: center;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
            margin-top: 30px;

            button {
              text-transform: capitalize;

              &.secondary-btn {
                border: 1px solid var(--primary-text) !important;
                color: var(--primary-text) !important;
              }
            }
          }
        }
      }
    }
  }
  .menu-btn {
    background-color: transparent;
    border: none;
  }
  .menu-item {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 0.88rem;
  }
}
//==== END OF TABLE COMPONENT ====/

//==== PAGINATION COMPONENT ====/
.pagination-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  margin-top: 20px;
  .items-per-page {
    span {
      font-size: 0.88rem;
      font-weight: 400;
      color: var(--primary-text);
    }
    select {
      background-color: #213f7d1a;
      padding: 5px 9px;
      border-radius: 4px;
      margin: 0 10px;
    }
  }
  .pagination-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    .pagination-nav-btn {
      height: 24px;
      width: 24px;
      background-color: #213f7d1a;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        opacity: 0.3;
      }
    }
    .pagination-num {
      color: var(--primary-text);
      opacity: 0.6;
      font-size: 1rem;
      font-weight: 400;

      &.active {
        opacity: 1;
        font-weight: 500;
      }
    }
  }
}
//==== END OF PAGINATION COMPONENT ====//

//==== BADGE ====//
.badge {
  padding: 7px 13px;
  border-radius: 100px;
  font-size: 0.88rem;
  font-weight: 400;
  text-transform: capitalize;

  &.error {
    background-color: #e4033b1a;
    color: var(--primary-red);
  }

  &.success {
    background-color: #39cd620f;
    color: var(--primary-green);
  }

  &.neutral {
    background-color: #545f7d0f;
    color: var(--primary-text);
  }

  &.warning {
    background-color: #e9b2001a;
    color: var(--primary-yellow);
  }
}
//==== END OF BADGE ====//

//==== BACK LINK ====//
.back-link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: var(--primary-text);
  font-size: 1rem;
  font-weight: 400;
  p {
    font-weight: 400;
    font-size: 1rem;
  }
}
//==== END OF BACK LINK ====//

//==== TAB NAVIGATION ====//
.tab-navigation {
  .tab-navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .tab-navigation-btn {
      font-size: 1rem;
      font-weight: 400;
      padding: 8px 20px;

      &.active {
        color: var(--primary-green);

        &::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--primary-green);
        }
      }
    }
  }
}
//==== END OF TAB NAVIGATION ====//

@media (max-width: 1160px) {
  .tab-navigation {
    overflow-x: auto;
  }
}
@media (max-width: 900px) {
  .searchbar {
    width: 100%;
  }
}
// @media (max-width: 800px) {
//   .tab-navigation {
//     overflow-x: auto;
//   }

// }
