.login {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  // align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  .navbar-brand {
    // margin-bottom: 90px;
    display: inline-block;
    position: absolute;
    width: 40%;
    z-index: 500;
    padding: 6.5rem 0px 0px 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // margin: 0px;

    img {
      width: 173px;
      height: auto;
    }
  }
  .login-left {
    padding: 1rem 0;
    max-width: 600px;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .login-right {
    box-shadow: 0px 15px 90px 0px #00000008;
    display: flex;
    align-items: center;
    .login-form-wrapper {
      padding: 1rem 0;
      max-width: 447px;
      width: 100%;
      margin: auto;
      position: relative;

      .auth-header-container {
        margin-bottom: 40px;
        .auth-header-title {
          color: var(--primary-blue);
          font-weight: 700;
          font-size: 2.5rem;
        }
        .auth-header-subtitle {
          color: var(--primary-text);
          font-weight: 400;
          font-size: 1.3rem;
        }
      }
      .login-input {
        margin-bottom: 24px;
      }
      .forgot-password {
        margin-bottom: 26px;
        line-height: normal;
        a {
          color: var(--primary-green);
          font-size: 0.75rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .login {
    display: block;
    overflow: auto;
    padding: 5rem 0;
    .navbar-brand {
      position: relative;
      padding: 0.6rem;
      width: 100%;
      justify-content: center;
      margin-bottom: 2rem;
      img {
        width: auto;
        height: auto;
      }
    }
    .login-left {
      display: none;
      padding: 1rem 1.25rem;
    }
    .login-right {
      box-shadow: unset;
      padding: 1rem 1.25rem;
      .auth-header-title {
        text-align: center;
        font-size: 2rem !important;
      }
      .auth-header-subtitle {
        text-align: center;
        font-size: 1rem !important;
      }
    }
  }
}
