.mobile-nav {
  display: none;
}
.app-header {
  height: 100px;
  position: sticky;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 999;
  width: 100%;
  //   padding-left: 30px;
  display: flex;
  align-items: center;
  box-shadow: 3px 0px 20px 0px #0000000a;

  .app-header-container {
    max-width: 1500px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .app-logo-container {
      width: calc(283px - 36px);
    }

    .app-header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      padding: 0 14px 0 50px;
      gap: 20px;

      .app-header-user-icon {
        img {
          width: 48px;
          height: 48px;
        }
      }

      .app-header-user-actions,
      .app-header-user-actions-2 {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
          text-decoration: underline;
          color: var(--primary-blue);
          font-size: 1rem;
          font-weight: 400;
        }

        .app-header-user-details {
          display: flex;
          align-items: center;
          gap: 10px;

          button {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .hamburger {
          display: none;
          svg {
            height: 26px;
            width: 26px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .app-header {
    .app-header-container {
      .app-logo-container {
        width: 120px;
      }

      .app-header-right {
        flex-grow: 0;
        padding: 0 50px 0 20px;
        .notification-btn {
          display: none;
        }

        .app-header-user-icon {
          img {
            width: 28px;
            height: 28px;
          }
        }
        .searchbar {
          display: none;
        }

        .app-header-user-actions {
          .hamburger {
            position: absolute;
            right: 16px;
            top: 30px;
            display: flex;
          }

          // .app-header-user-actions-2 {
          //   display: f;
          // }

          a {
            display: none;
          }

          .app-header-user-details {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }
  }
}
